.gnb {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    z-index: 1000;
    /* Ensure it sits on top of everything */
    color: #fff;
    /* Default text color */
    box-sizing: border-box;
    transition: color 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    z-index: 100;
    opacity: 1;
    visibility: visible;
}

.gnb.gray {
    color: #111;
}

.gnb.gray .gnb-menu li {
    font-weight: 400;
}

.gnb.orange {
    color: #fff;
}

.gnb.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.gnb-logo {
    font-family: 'AtheneVoyage', serif;
    font-size: 26px;
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.gnb-menu {
    display: flex;
    list-style: none;
    gap: 50px;
    margin: 0;
    padding: 0;
}

.gnb-menu li {
    font-family: 'Pretendard', sans-serif;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s;
    text-transform: capitalize;
    position: relative;
}

.gnb-menu li:hover {
    opacity: 1;
}

.gnb-menu li.active {
    opacity: 1;
    font-weight: 300;
}

.gnb-menu li.active::after {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #FB6C1C;
    /* Default for Dark BG (#111) */
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
}

.gnb.orange .gnb-menu li.active::after {
    background-color: #111;
}

.gnb.dark .gnb-menu li.active::after {
    background-color: #FB6C1C;
}